<div class="card">
  <div class="card-content">
    <h5>Your Cart</h5><br/>
    <b> Items:&nbsp;&nbsp;</b><br>

    <br>

    <td><%= link_to "Checkout", checkout_path, class: 'waves-effect waves-light btn'%></td>
  </div>
</div>