<div class="row">    
  <div class="col s9">
    <div class="card">
      <div class="card-content">
        <span class="card-title"><em>About the Great Pittsburgh Baking Outlet</em></span>
        <p>You can find a variety of baking equipment and supplies that are used by chefs 
        on The Great Pittsburgh Baking Show at the Great Pittsburgh Baking Outlet.</p>
        <p>&nbsp;</p>
      </div>
    </div>
  </div>
</div>

