<div class="row">    
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <span class="card-title"><em>Contacting Us</em></span>
        <p>Unfortunately, the Great Pittsburgh Baking Outlet is not a real e-commerce website, but a project developed by 67-272 student
        Cathryn Lin.
        </p>
        <p>&nbsp;</p>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <span class="card-title">Contact</span>
        <table cellpadding="3">
          <tr>
            <td>Webmaster:&nbsp;&nbsp;&nbsp;</td>
            <td>Cathryn Lin</td>
          </tr>
          <tr>
            <td>Email:</td>
            <td>
            <%= mail_to("ylin4@cmu.edu", "Cathryn Lin", encode: "javascript") %> 
            </td>
          </tr>
          <tr>
            <td>Phone:</td>
            <td>412-765-9446</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>