<div class="row">  
  <div class="col s12">
    <div id = "welcome">
      <%# <%= image_tag "background.jpg"%> %>
      <div id="welcomecaption">
          <h3>Welcome to the Great Pittsburgh Baking Outlet</h3><br>
          <a class="btn-large amber">Become a customer</a>
      </div>

    </div>
  </div>
</div>
