<div class="row">  
  <div class="col s12">
    <div id = "welcome">
      <div id="welcomecaption">
          <h3>Welcome to the Great Pittsburgh Baking Outlet</h3><br>
          <%= link_to "Become a Customer", new_customer_path, class: 'btn-large amber' %>
      </div>

    </div>
  </div>
</div>
