<br />
<% unless @inactive_customers.empty? %>
  <div class="card yellow lighten-4">
    <div class="card-content">
      <ul>
        <% for customer in @inactive_customers %>
          <li><%= link_to customer.name, customer_path(customer) %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>