<h4>Past Orders in GPBO</h4>

<table class="striped highlight">
  <thead>
    <th>Order</th>
    <th>Date</th>
  </thead>
  <% for order in @past_orders %>
    <tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">
      <td><%= link_to order.id, order_path(order) %></td>
      <td><%= order.date %></td>

    </td>
    </tr>
  <% end %>
</table>
<p class="supertiny"></p>
<br />
<p>&nbsp;</p>