<div id="tabbed">
<% if logged_in? && ( current_user.role?(:admin)) %>
  <tabs>

    <tab name="pending orders" v-bind:selected="true">
      <%= render :partial => "orders_list", locals: {orders: @pending_orders, state: 'pending'} %>
    </tab>

    <tab name="past orders">
      <%= render :partial => "orders_list", locals: {orders: @past_orders, state: 'past'} %>
    </tab>

  </tabs>
<% elsif logged_in? && current_user.role?(:customer) %>
  <tab name="pending orders" v-bind:selected="true">
      <%= render :partial => "orders_list", locals: {orders: @all_orders, state: 'all'} %>
    </tab>
<%end%>
</div>

<p>&nbsp;</p>