<div id="tabbed">
<% if logged_in? && ( current_user.role?(:admin)) %>
    <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a href="#pending">Pending Orders</a></li>
           
        <li class="tab col s3"><a class="active" href="#past">Past Orders</a></li>
      </ul>
    </div>
    <div id="pending" class="col s12">
      <%= render :partial => "pending_orders"%>
      </div>
    <div id="past" class="col s12">
      <%= render :partial => "past_orders" %>
    </div>
  </div>
</div>
<% elsif logged_in? && current_user.role?(:customer) %>
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
       <li class="tab col s3"><a href="#all">All Orders</a></li>
       </ul>
    </div>
    <div id="all" class="col s12">
      <%= render :partial => "all_orders"%>
    </div>
<%end%>