<div class="card">
  <div class="card-content">
  <h5>Address Information</h5>
  <p>Recipient:  <%= @address.recipient%></p>
  <p>Address:  <%= "#{@address.street_1}, #{@address.city}, #{@address.state} #{@address.zip}"%></p>
  </div>
</div>