<h6>Find by Category</h6>

<table class="striped highlight">
  <td><%= link_to 'All', items_path %></td>
  <% for category in @categories %>
    <tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">
      <td><%= link_to category.name, items_path(:category => category) %></td>
    </td>
    </tr>
  <% end %>
</table>
<p class="supertiny"></p>
<br />
<p>&nbsp;</p>