<% if @featured_items.empty? %>
  <h4>There are no featured items in the system at this time.</h4>
<% else %>
  <h4>Featured Items at GPBO</h4>
  <%= render :partial => "partials/title_with_search", locals: {title: "Search Items"} %>
  
<% end %>
  
