<% if @featured_items.empty? %>
  <h4>There are no featured items in the system at this time.</h4>
<% else %>
  <%= render :partial => "partials/title_with_search", locals: {title: "Featured Items at GPBO"} %>
<% end %>
  
