/* topbar*/
#topbar {
	padding: 3em .5em 5em .5em; 
	background-image:url('background.png');
	background-size:100%;
	background-position:center;
	transition:0.5%
}

/********** TABS ********/
.tabs .tab a.active {
    color: #ffc400;
  }
  
  .tabs .tab a:hover {
    color: #ffd600;
  }
  
  .tabs .tab a {
    color: #bdbdbd;
  }
  
  .tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #ffd600;
    will-change: left, right;
  }